src/Aufg_3/Aufgabe3c&d.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.chefkoch.de/rezepte/24641006006067/Lenchen-s-Schokoladenkuchen.html" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Recipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Rezept">
          <xs:complexType>
            <xs:sequence>
             <xs:element name="Titel">
              <xs:complexType>
               <xs:sequence>
                <xs:element name="Bilder">
                 <xs:complexType>
                   <xs:sequence>
                     <xs:element name="Bild" minOccurs="0" maxOccurs="unbounded">
                       <xs:complexType>
                         <xs:simpleContent>
                           <xs:restriction base="xs:string">
                            <xs:attribute type="xs:int" name="width"/>
                            <xs:attribute type="xs:int" name="height"/>
                            <xs:attribute type="xs:string" name="src"/>
                           </xs:restriction>
                          </xs:simpleContent>
                         </xs:complexType>
                        </xs:element>
                       </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Zutaten">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Zutat" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:restriction base="xs:string">
                            <xs:attribute type="xs:string" name="Name"/>
                            <xs:attribute type="xs:int" name="Menge"/>
                            <xs:attribute type="xs:int" name="Einheit"/>
                          </xs:restriction>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Titel2"/>
              <xs:element name="Arbeitszeit">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:restriction base="xs:string">
                      <xs:attribute type="xs:string" name="Name"/>
                      <xs:attribute type="xs:int" name="wert"/>
                      <xs:attribute type="xs:int" name="Einheit"/>
                    </xs:restriction>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Schwierigkeitsgrad">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:restriction base="xs:string">
                      <xs:attribute type="xs:string" name="Name"/>
                      <xs:attribute type="xs:int" name="wert"/>
                    </xs:restriction>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Brennwert">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:restriction base="xs:string">
                      <xs:attribute type="xs:string" name="Name"/>
                      <xs:attribute type="xs:int" name="wert"/>
                      <xs:attribute type="xs:int" name="Einheit"/>
                    </xs:restriction>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Zubereitung">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:restriction base="xs:string">
                      <xs:attribute type="xs:string" name="Zubereitung"/>
                    </xs:restriction>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Kommentar" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:restriction base="xs:string">
                      <xs:attribute type="xs:int" name="id"/>
                      <xs:attribute type="xs:string" name="Name"/>
                      <xs:attribute type="xs:string" name="Bild"/>
                      <xs:attribute type="xs:int" name="Datum"/>
                      <xs:attribute type="xs:string" name="Kommentar"/>
                    </xs:restriction>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>