src/Aufg_3/Aufg_3c.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.chefkoch.de/rezepte/24641006006067/Lenchen-s-Schokoladenkuchen.html" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Rezepte">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Rezept">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Bild">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Bild">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="width"/>
                            <xs:attribute type="xs:int" name="height"/>
                            <xs:attribute type="xs:string" name="src"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Zutaten">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Zutaten">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Name"/>
                            <xs:attribute type="xs:int" name="Menge"/>
                            <xs:attribute type="xs:int" name="Einheit"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Titel2"/>
              <xs:element name="Arbeitszeit">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Name"/>
                      <xs:attribute type="xs:int" name="value"/>
                      <xs:attribute type="xs:int" name="Einheit"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Schwierigkeitsgrad">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Name"/>
                      <xs:attribute type="xs:int" name="Value"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Brennwert">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Name"/>
                      <xs:attribute type="xs:int" name="value"/>
                      <xs:attribute type="xs:int" name="Einheit"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Rezept">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Zubereitung"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Kommentar">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="id"/>
                      <xs:attribute type="xs:string" name="Name"/>
                      <xs:attribute type="xs:string" name="Bild"/>
                      <xs:attribute type="xs:int" name="Datum"/>
                      <xs:attribute type="xs:string" name="Kommentar"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Titel"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>